<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/public/stylesheet.css' />

   
</head>
<body>
    <div class="container">

        <div class="header">
            <%- include ('templates/header.ejs') %>
        </div>
        <div class="header-r">
            <%- include ('templates/header_r.ejs') %>
        </div>

        <div class="navigation" style="border-right: 1px solid #000;">
            <%- include ('templates/navigation.ejs') %>
        </div>

        <div class="content">
            <div class="_title">MAINTENANCE REPORT</div>
            <table id="table">
                <thead>
                    <th>ID</th>
                    <th>Roller Coaster's Name</th>
                    <th>Roller Coaster's ID</th>
                    <th>Date Started</th>
                    <th>Date Completed</th>
                </thead>
                <tbody>
                    <% for(let i =0;i < rows.length; i++){ %>
                        <tr>
                            <td><%= rows[i].Maintenance_ID %></td>
                            <td><%= rows[i].Name %></td>
                            <td><%= rows[i].Rides_coaster_ID %></td>
                            <td><%= rows[i].Date_Started %></td>
                            <td><%= rows[i].Date_Completed %></td>
                            </tr>
                    <% } %>                      
                </tbody>
            </table>  
            <!-- <div style="text-align: center; font-size: 18px">Total: </div>    -->
        </div>

        <div class="footer">© Team 12 - COSC 3080 - Tue/Thu Class</div>
    </div>
</body>
</html>